<section class="bg-color">
<div class="box"></div>
  <div class="container">


    <div class="pt-5 pb-5">

      <div class="card card-size container pt-2 pb-5">
         <div class="pl-5">
      <!-- <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a> -->
      <a href="#" routerLink="/category/index" class="btn btn-danger btn-md mt-4 mb-4"
        >Go Back</a
      >
    </div>
        <h1 class="text-center text-primary fw-bold pb-5">PARCEL INFORMATION</h1>
          <div class="row text-center">
        <div class="col">
          <img class="icon" src="https://cdn-icons-png.flaticon.com/512/306/306467.png" alt="">
          <strong><h3 class="mt-3 text-danger">ID:</h3></strong>
          <h5>{{ category.id }}</h5>
        </div>

        <div class="col">
          <img class="icon" src="https://cdn-icons-png.flaticon.com/512/630/630743.png" alt="">
          <strong><h4 class="mt-3 text-danger">Tracking Code:</h4></strong>
          <h5>{{ category.name }}</h5>
        </div>

        <div class="col">
          <img class="icon" src="https://cdn.icon-icons.com/icons2/1261/PNG/512/1496676725-rounded-high-ultra-colour02-maps_84627.png" alt="">
          <strong><h4 class="mt-3 text-danger">Status:</h4></strong>
          <h5>{{ category.description }}</h5>
        </div>
        </div>
      </div>
    </div>
    </div>
</section>
