.bg-color {
  height: 80vh;
background: linear-gradient(to bottom right,#e2991a, #f02929) !important;
}

.box:after {
  content: ' ';
  border-top: 80vh solid transparent;
  border-right: 99vw solid #e03d3d;
  width: 0;
  position: absolute;
}
