<div class="container">
    <h1>Update Category</h1>

    <a href="#" routerLink="/category/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="name">Tracking Code:</label>
            <input
                formControlName="name"
                id="name"
                type="text"
                [(ngModel)]="category.name"
                class="form-control">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Status:</label>
            <textarea
                formControlName="description"
                id="description"
                type="text"
                [(ngModel)]="category.description"
                class="form-control">
            </textarea>
            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" [disabled]="!form.valid">
          Update
        </button>
    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to update this parcel?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button data-dismiss="modal" class="btn btn-primary" type="submit" (click)="submit()" [disabled]="!form.valid">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
