<section class="bg-color">
  <div class="container">
    <div class="pt-4 pb-4">
      <a href="#" routerLink="/category/index" class="btn btn-primary"
        >Go Back</a
      >
    </div>
    <div class="row">
      <div class="col d-flex justify-content-start">
        <h1 class="text-start pt-3 pb-4">List a parcel</h1>
      </div>
      <div class="col d-flex justify-content-end">
        <img
          class="img-responsive icon-img"
          src="https://cdn-icons-png.flaticon.com/512/2783/2783484.png"
        />
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name">Tracking Code:</label>
        <input
          formControlName="name"
          id="name"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="f['name'].touched && f['name'].invalid"
          class="alert alert-danger"
        >
          <div *ngIf="f['name'].errors && f['name'].errors['required']">
            Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Status:</label>
        <textarea
          formControlName="description"
          id="description"
          type="text"
          class="form-control"
        >
        </textarea>
        <div
          *ngIf="f['description'].touched && f['description'].invalid"
          class="alert alert-danger"
        >
          <div
            *ngIf="
              f['description'].errors && f['description'].errors['required']
            "
          >
            Description is required.
          </div>
        </div>
      </div>
      <div class="pb-5">
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          [disabled]="!form.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to add this parcel?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button
            data-dismiss="modal"
            class="btn btn-primary"
            type="submit"
            (click)="submit()"
            [disabled]="!form.valid"
          >
            Agree
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
